<div class="container" style="margin-bottom:100px;">
<form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control"  formControlName="name">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="text" class="form-control"  formControlName="email">     
          <label for="exampleInputEmail1" class="form-label">Phone</label>
          <input type="text" class="form-control"  formControlName="phone">
          <label for="exampleInputEmail1" class="form-label">Qualification</label>
          <input type="text" class="form-control"  formControlName="qualification">
          <label for="exampleInputEmail1" class="form-label">Age</label>
          <input type="text" class="form-control" formControlName="age" >
          <label for="exampleInputEmail1" class="form-label">Test Score</label>
          <input type="text" class="form-control"  formControlName="testScore">
          <label for="exampleInputEmail1" class="form-label">Enquiry Date</label>     
          <input type="text" class="form-control"  formControlName="enquiryDate">
          <label for="exampleInputEmail1" class="form-label">Enquiry Status</label>
          <input type="text" class="form-control"  formControlName="enquityStatus">
          <label for="exampleInputEmail1" class="form-label">Course Id</label>
          <input type="text" class="form-control" formControlName="courseId" >
          
        </div>
        <br>
        
        <button type="submit" class="btn btn-primary">Submit Enquiry</button>
      </form> 

    </div>