<!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Description</th>
        <th scope="col">Course Duration</th>
        <th scope="col">Course Status</th>
        <th scope="col">Action</th>
        
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courses" >
        
        <td>{{c.couresId}}</td>
        <td>{{c.courseName}}</td>
        <td>{{c.courseDescription}}</td>
        <td>{{c.courseDuration}}</td>
        <td>{{c.courseStatus}}</td>
        <td><a routerLink="/courseenquiry/{{c.couresId}}">Enquire</a></td>
      <td><a routerlink="/courseenquiry"><i class="fa fa-edit" style="font-size: 15px; color:rgb(10,2,116); cursor:pointer;"></i></a></td>
       
        
      </tr>
      
        
    </tbody>
  </table>
   -->


  <h5 style="align-items: center; justify-content: center;text-align: center;">List of Courses</h5>
<div class="container"  >
    <!-- <button class="btn btn-info" routerLink="/courses/course">Add New Course</button> -->
    <div class="column">
        <div class="row" >
            <div class="card" style="width: 20rem; margin: 10px; "class="shadow p-3 mb-5 bg-white rounded border border-success"   *ngFor="let c of courses;">
                <div class="container" >
                    <p style="font-size: 15px; margin-left:-20px; color:green">{{c.couresId}}</p>
                    <h5 class="card-title">Course: <b>{{c.courseName}}</b></h5>
                    <p>Desc: {{c.courseDescription}}</p>
                    <p>Duration: {{c.courseDuration}} hours</p>
                    <p style="color:green"><strong style="color:black">Status: </strong>{{c.courseStatus}}</p>
                    <!-- <p>{{c.courseAvailability}}</p> -->
                    <!-- <button class="btn btn-outline-success  btn-block" style="margin-left:60px" routerLink="/courseenquiry/{{c.couresId}}">Enquire</button> -->
                    <button type="button"  style="margin-left:40px;" class="btn btn-outline-success"  data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#registerModal">
                        Enquire Course
                    </button>
                    <!-- <button class="btn btn-danger" routerLink="/courseenquiry/{{c.couresId}}">Enquire</button> -->
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModalLabel">Enquire Course</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-course-enquiry></app-course-enquiry>
            </div>
            
        </div>
    </div>
</div>